
	body {
 	padding:0px;
	margin:0px;
	width: 100%;
	overflow-x:hidden;
	background:#f7f7f7;
	font-family:'Sintony', sans-serif;
	font-weight:400;
	}
	strong { font-weight:700;}

	a {
	text-decoration:none;
	color: #666;
	}

	a:hover {
	text-decoration:none;
	color: #FF0066;
	}

	img {
	border:0px;
	}

	h1 {
	font-size:55px;
	font-weight:normal;
	margin:5px;
	color: #333;
	text-transform:uppercase;
	font-weight:600;
	}

	h2 {
	font-size:25px;
	font-weight:normal;
	padding-top: 5px;
	color:#f00;
	}

	h3 {
	font-size:35px;
	font-weight:normal;
	margin:0px;
	color: #666;
	}

	p {
	line-height:30px;
	padding-bottom:10px;
	}

	.special-color {
	color:#FF0066;
	}

	#body
	{
	overflow:hidden !important;
    width: 100%;
    }

	div.header {
	width:980px;
	height:98px;
	margin: 0 auto;
	border-bottom:1px solid #e7e7e7;
	}

	.coloreflect-logo {
	width:300px;
	height:97px;
	padding-left:303px;
	float: left;
	}

	.aboutme-header {
	width:30px;
	height:30px;
	float:left;
	padding-top:39px;
	}

	.share-header {
	display:inline-block;
	height:30px;
	float:right;
	padding-top:39px;
	}

	.share-header a {
	float:left;
	}

	#share {
	float:left;
	height:30px;
	}

	#social {
	padding:0px;
	margin:0px;
	height:30px;
	display:block;
	width:35px;
	overflow:hidden;
	transition:width 1s ease-in-out;
	-webkit-transition:width 1s ease-in-out;
	-moz-transition:width 1s ease-in-out;
	}

	#social:hover {
	width:200px;
	}

	#social li {
	float:left;
	list-style:none;
	height:30px;
	margin:0px;
	display:inline-block;
	padding:0px 5px;
	line-height:30px;
	transition:width 0.5s ease-in-out;
	-webkit-transition:width 0.5s ease-in-out;
	-moz-transition:width 0.5s ease-in-out;
	}

	.banner {
	width:980px;
	height:100px;
	margin: 0 auto;
	text-align:center;
	line-height:100px;
	text-transform:uppercase;
	font-size:30px;
	font-weight:600;
	color:#666;
	}

	.container {
	padding-top:0px;
	width: 960px;
	height:auto;
	margin: 0 auto;
	}
.works_table {
  display: block;
  list-style: none;
  padding: 0;
	margin-left:-10px;
}
.works_table::after {
  display: table;
  content: '';
  clear: both;
  float: none;
}

.works_table li {
	margin:0px;
	width: 32%;
	height:300px;
	float:left;
	margin:0 0px 10px 10px;
	}


	.more-works {
	width:980px;
	height:45px;
	margin: 0 auto;
	text-align:center;
	font-size:15px;
	line-height:35px;
	text-transform:uppercase;
	color: #999;
	}


	.footer {
	width:980px;
	height:98px;
	margin: 0 auto;
	border-top:1px solid #e7e7e7;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:98px;
	color:#666;
	}


	#popupModel {
    width:100%;
    height:100vh;
    background-color:#f7f7f7;
    color:#FFF;
    font-size:30px;
    position:fixed;
    top:0px; left: 0;
    margin-left:100%;
    overflow: auto;
	}



	#popupModel-popupContent {
  	height: auto;
		background:#f7f7f7;
	}

	.btn_close {
	position: fixed;
	margin:0px;
	cursor:pointer;
	top:20px;
	right:20px;
	}

#popupModel > .header {
	background:#FFFFFF;
	text-align:center;
	height:220px;
	padding-top:80px;
	margin:0px;
}
#popupModel > .header h1 {
	margin:0px;
	padding:0px 0px 10px 0px;
}
#popupModel > .header h2 {
	font-size:20px;
	margin:0px;
	padding:0px 0px 10px 0px;
}
#popupModel > .header p {
	font-size:13px;
	color:#666666;
	width:60%;
	margin:0 auto;
	padding:10px 0px;
	line-height:25px;
}
#popupModel > .header a {
	display:inline-block;
	font-size:13px;
	color:#000;
	margin:0 auto;
	padding:10px 0px;
}
#popupModel > .header a:hover {
	color:#f00;
}

#popupModel .popupContent {
	width:900px;
	margin: 0 auto;
	text-align:center;
	padding:65px 0px 35px 0px;
}
#popupModel .popupContent img {
	border:0px;
	text-align:center;
	margin-bottom: 55px;
}

	#popupModel-popup_container-description {
	text-align:center;
	margin-bottom: 35px;
	font-size:13px;
	color:#666666;
	}


	#more {
	height:60px;
	width:940px;
	padding:20px;
	margin:0 auto;
	border-top:1px solid #dbdbdb;
	background:#e6e6e6;
	font-size:12px;
	line-height:20px;
	}

	#more-sect {
	float:left;
	width:172px;
	margin-left:15px;

	}

	#lightbox {
	display:none;
	background:#f3f3f3;
	top:0px;
	left:0px;
	min-width:100%;
	min-height:100%;
	z-index:1000;
	position:fixed;

	}

/* Lightbox panel with some content */
	#lightbox-panel {
	display:none;
	position:fixed;
	top:100px;
	left:40%;
	margin-left:-330px;
	padding:10px 15px 10px 15px;
	z-index:1001;
	width:900px;
	text-align:center;
	font-size:20px;
	color:#666666;

	}

	.social-box {
	text-align:center;
	}

	.social-box-img {
	margin:0px 5px;
	}

/* Rollover Effects */


	.view {
   	overflow: hidden;
   	position: relative;
   	text-align: center;
   	cursor: default;
   	width:100%;
   	height:295px;
	}


.view img {
   display: block;
   position: relative;
}
.view h4 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 22px;
   margin: 80px 0 0 0;
}
.view p { margin:5px 0px; font-size:12px; color:#fefefe}
.mask a { margin:45px 0 0 0px; display:inline-block; padding:7px 10px;  background:#fff; color:#333; font-size:14px; font-weight:bold; }
.mask a:hover { background:#fff; color:#333;  }


.view img {

   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}
.view .mask {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	background: #f00;
	padding:0px;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
.view:hover img {
	float:left;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.details {  font-size:12px; color:#666666;}


.loader { display: none;}
